:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

body {
  background-color: var(--primary-light);
  font-family: "Roboto", sans-serif;
  color: var(--primary-dark);
}

header {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 50px;
}

#grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.grid-item {
  /* padding: 1em; */
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.gridlines-on .grid-item {
  border: 1px solid var(--primary-light);
  border-top-width: 0;
  border-left-width: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default body margin */
}

main {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 200px;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: inherit;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid var(--primary-dark);
  width: 200px;
}

button.active {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

input[type="color"] {
  width: 80px;
  height: 80px;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridlinescb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--primary-light);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background-color: white; /* Set the initial background color to white */
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  background-color: black; /* Set the background color to black when checked */
  transform: scale(1);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: var(--primary-dark);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  /* footer support */
  margin-bottom: 50px;
}